.transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

.transaction-table th, .transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.transaction-table th {
    background-color: lightblue;
    font-weight: bold;
    color: black;
}

.transaction-table tr {
    background-color: #f9f9f9;
}

.div{
    margin-top: 50px;
}
